on:
  push:
    branches: [main]

name: Release

concurrency:
  group: release
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    environment: Release

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Run builder container
        env:
          ABUILD_PRIVATE_KEY: "${{ secrets.ABUILD_PRIVATE_KEY }}"
          ABUILD_PUBLIC_KEY: "${{ vars.ABUILD_PUBLIC_KEY }}"
          GIT_USER_NAME: "Mark Dietzer"
          GIT_USER_EMAIL: "git@doridian.net"
        run: |
          dcmd() {
              PLTF="$1"
              docker buildx build --platform "$PLTF" --build-arg "PUID=$(id -u)" --build-arg "PGID=$(id -g)" -t igshim-builder .github/container
              docker run --platform "$PLTF" -e ABUILD_PRIVATE_KEY -e ABUILD_PUBLIC_KEY -e GIT_USER_NAME -e GIT_USER_EMAIL --rm -v "$(pwd):/src" igshim-builder
          }
          mkdir -p packages
          dcmd linux/amd64
          dcmd linux/arm64
      - name: Release x86_64
        uses: ncipollo/release-action@v1
        with:
          name: x86_64
          tag: x86_64
          commit: ${{ github.sha }}
          artifacts: ./packages/x86_64/*
          allowUpdates: true
          artifactErrorsFailBuild: true
          omitBody: true
          omitBodyDuringUpdate: true
          removeArtifacts: true
          makeLatest: false
      - uses: rickstaa/action-create-tag@v1
        with:
          tag: x86_64
          force_push_tag: true
      - name: Release aarch64
        uses: ncipollo/release-action@v1
        with:
          name: aarch64
          tag: aarch64
          commit: ${{ github.sha }}
          artifacts: ./packages/aarch64/*
          allowUpdates: true
          artifactErrorsFailBuild: true
          omitBody: true
          omitBodyDuringUpdate: true
          removeArtifacts: true
          makeLatest: false
      - uses: rickstaa/action-create-tag@v1
        with:
          tag: aarch64
          force_push_tag: true
      - uses: rickstaa/action-create-tag@v1
        with:
          tag: latest
          force_push_tag: true
